body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: #2a2d41;
}

/*
baby powder ("white"): #fdfffc
space cadet ("black"): #2c2a4a
jonquil (accent): #f7cb15
cordovan: #984447
*/

:root {
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

/* a:focus,
a:hover {
  color: #2C2A4A;
} */

input,
button {
  box-sizing: border-box;
  font-family: inherit;
}

.container {
  display: grid;
  resize: both;
  overflow: auto;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  grid-row: 1 / 6;
  background-color: #984447;
  color: #fdfffc;
  padding: 32px;
}

.sidebar > .logo {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  font-size: 1.5rem;
}

.sidebar li {
  padding: 8px 0;
}

.head-bar {
  display: grid;
  gap: 16px;
  padding: 32px 56px;
  box-shadow: 24px 12px 5px #64748b; /*slate from Tailwind, not currently working*/
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    "search-container search-container search-container search-container . . notification-container"
    "greeting-container greeting-container . . . buttons buttons"
}

.search-container {
  grid-area: search-container;
  display: flex;
  align-items: center;
}

.search-container > img {
  max-width: 1.75rem;
  margin-right: 16px;
  fill: #2a2d41;
}

#search {
  border: none;
  border-radius: 14px;
  font-size: 1.5rem;
  background: #e2e8f0;
  display: inline-block;
  width: 700px;
}

.notification-container {
  grid-area: notification-container;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.notification-container > img {
  max-width: 1.75rem;
  margin-right: 16px;
  fill: #2a2d41;
}

.greeting-container {
  grid-area: greeting-container;
}

.greeting-container > .text {
  font-size: 1rem;
}

.greeting-container > .name {
  font-size: 2rem;
}

.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  border-radius: 28px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  padding: 14px 36px;
  background-color: #984447;
  color: #fdfffc;
}

button:hover,
button:focus {
  background-color: #2c2a4a;
  color: #fdfffc;
  outline: none;
}

.main-content {
  grid-column: 2 / 7;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  padding: 32px;
}

.main-content .title {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.projects-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 32px;
}

.cards > .card {
  background-color: #fdfffc;
  box-shadow: 5px 5px 5px #94a3b8;
  border-radius: 8px;
  padding: 32px;
}

.preview {
  font-size: 1.25rem;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 32px;
}

.icons > img {
  fill: #2a2d41;
  padding-left: 32px;
  max-width: 2rem;
}

.announcement-list,
.trending-users {
  background-color: #fdfffc;
  box-shadow: 5px 5px 5px #94a3b8;
  border-radius: 8px;
  padding: 36px;
}

.maintenance,
.share-day {
  padding-bottom: 16px;
  border-bottom: 2px solid #e2e8f0;
}

.share-day,
.privacy {
  padding-top: 16px;
}

.announcements .subtitle {
  font-size: 1.25rem;
}

.announcements .text {
  font-weight: 500;
}

.trending {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.trending-users {
  font-size: 1.25rem;
  font-weight: 500;
}

.user {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 16px;
}

.project {
  grid-column: 2 / 3;
}